<%= form_with(model: lost_object, local: true) do |form| %>
  <% if lost_object.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(lost_object.errors.count, "error") %> prohibited this lost_object from being saved:</h2>

      <ul>
      <% lost_object.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :date %>
    <%= form.date_select :date %>
  </div>

  <div class="field">
    <%= form.label :notes %>
    <%= form.text_field :notes %>
  </div>

  <div class="field">
    <%= form.label :returned_to %>
    <%= form.text_field :returned_to %>
  </div>

  <div class="field">
    <%= form.label :return_date %>
    <%= form.date_select :return_date %>
  </div>

  <div class="field">
    <%= form.label :phone %>
    <%= form.text_field :phone %>
  </div>

  <div class="field">
    <%= form.label :community_id %>
    <%= form.text_field :community_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
