<%= form_with(model: weapon_type, local: true) do |form| %>
  <% if weapon_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(weapon_type.errors.count, "error") %> prohibited this weapon_type from being saved:</h2>

      <ul>
      <% weapon_type.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :type %>
    <%= form.text_field :type %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
