<p id="notice"><%= notice %></p>

<h1>Asset Statuses</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @asset_statuses.each do |asset_status| %>
      <tr>
        <td><%= asset_status.name %></td>
        <td><%= asset_status.description %></td>
        <td><%= link_to 'Show', asset_status %></td>
        <td><%= link_to 'Edit', edit_asset_status_path(asset_status) %></td>
        <td><%= link_to 'Destroy', asset_status, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Asset Status', new_asset_status_path %>
