<p id="notice"><%= notice %></p>

<h1>Black List Statuses</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @black_list_statuses.each do |black_list_status| %>
      <tr>
        <td><%= black_list_status.name %></td>
        <td><%= black_list_status.description %></td>
        <td><%= link_to 'Show', black_list_status %></td>
        <td><%= link_to 'Edit', edit_black_list_status_path(black_list_status) %></td>
        <td><%= link_to 'Destroy', black_list_status, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Black List Status', new_black_list_status_path %>
