<p id="notice"><%= notice %></p>

<p>
  <strong>Last name:</strong>
  <%= @person.last_name %>
</p>

<p>
  <strong>First name:</strong>
  <%= @person.first_name %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @person.phone %>
</p>

<p>
  <strong>Identification:</strong>
  <%= @person.identification %>
</p>

<p>
  <strong>City:</strong>
  <%= @person.city %>
</p>

<p>
  <strong>Home address:</strong>
  <%= @person.home_address %>
</p>

<p>
  <strong>Office address:</strong>
  <%= @person.office_address %>
</p>

<%= image_tag @person.image %>

<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
