<%= form_with(model: visitor, local: true) do |form| %>
  <% if visitor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(visitor.errors.count, "error") %> prohibited this visitor from being saved:</h2>

      <ul>
      <% visitor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :checkin_date %>
    <%= form.date_select :checkin_date %>
  </div>

  <div class="field">
    <%= form.label :checkout_date %>
    <%= form.date_select :checkout_date %>
  </div>

  <div class="field">
    <%= form.label :notes %>
    <%= form.text_field :notes %>
  </div>

  <div class="field">
    <%= form.label :destination %>
    <%= form.text_field :destination %>
  </div>

  <div class="field">
    <%= form.label :vehicle_id %>
    <%= collection_select(:visitor, :vehicle_id, Vehicle.all, :id, :plate_number, prompt: true) %>
  </div>

  <div class="field">
    <%= form.label :community_id %>
    <%= collection_select(:visitor, :community_id, Community.all, :id, :name, prompt: true) %>
  </div>

  <div class="field">
    <%= form.label :person_id %>
    <%= collection_select(:visitor, :person_id, Person.all, :id, :name_with_initial, prompt: true) %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
