<p id="notice"><%= notice %></p>

<h1>Day Of Weeks</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @day_of_weeks.each do |day_of_week| %>
      <tr>
        <td><%= day_of_week.name %></td>
        <td><%= link_to 'Show', day_of_week %></td>
        <td><%= link_to 'Edit', edit_day_of_week_path(day_of_week) %></td>
        <td><%= link_to 'Destroy', day_of_week, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Day Of Week', new_day_of_week_path %>
