<%= form_with(model: contract, local: true) do |form| %>
  <% if contract.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(contract.errors.count, "error") %> prohibited this contract from being saved:</h2>

      <ul>
      <% contract.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :date %>
    <%= form.date_select :date %>
  </div>

  <div class="field">
    <%= form.label :expiration %>
    <%= form.date_select :expiration %>
  </div>

  <div class="field">
    <%= form.label :type %>
    <%= form.text_field :type %>
  </div>

  <div class="field">
    <%= form.label :notes %>
    <%= form.text_field :notes %>
  </div>

  <div class="field">
    <%= form.label :contractor %>
    <%= form.text_field :contractor %>
  </div>

  <div class="field">
    <%= form.label :hired %>
    <%= form.text_field :hired %>
  </div>

  <div class="field">
    <%= form.label :contract_status_id %>
    <%= collection_select(:contract, :contract_status_id, ContractStatus.all, :id, :name, prompt: true) %>
  </div>

  <div class="field">
    <%= form.label :community_id %>
    <%= collection_select(:contract, :community_id, Community.all, :id, :name, prompt: true) %>
  </div>

  <div class="field">
    <%= form.label :security_company_id %>
    <%= collection_select(:contract, :security_company_id, SecurityCompany.all, :id, :business_name, prompt: true) %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
