<%= form_with(model: security_agent, local: true) do |form| %>
  <% if security_agent.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(security_agent.errors.count, "error") %> prohibited this security_agent from being saved:</h2>

      <ul>
      <% security_agent.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :security_agent_role_id %>
    <%= collection_select(:security_agent, :security_agent_role_id, SecurityAgentRole.all, :id, :name, prompt: true) %>
  </div>

  <div class="field">
    <%= form.label :division %>
    <%= form.text_field :division %>
  </div>

  <div class="field">
    <%= form.label :admission_date %>
    <%= form.date_select :admission_date %>
  </div>

  <div class="field">
    <%= form.label :security_company_id %>
    <%= collection_select(:security_agent, :security_company_id, SecurityCompany.all, :id, :business_name, prompt: true) %>
  </div>

  <div class="field">
    <%= form.label :security_agent_id %>
    <%= collection_select(:security_agent, :security_agent_id, SecurityAgent.all, :id, :name_with_initial, prompt: true) %>
  </div>

  <div class="field">
    <%= form.label :weapon_id %>
    <%= collection_select(:security_agent, :weapon_id, Weapon.all, :id, :name, prompt: true) %>
  </div>

  <div class="field">
    <%= form.label :agent_type_id %>
    <%= collection_select(:security_agent, :agent_type_id, AgentType.all, :id, :name, prompt: true) %>
  </div>

  <div class="field">
    <%= form.label :schedule_id %>
    <%= collection_select(:security_agent, :schedule_id, Schedule.all, :id, :name, prompt: true) %>
  </div>

  <div class="field">
    <%= form.label :person_id %>
    <%= collection_select(:security_agent, :person_id, Person.all, :id, :name_with_initial, prompt: true) %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
