<%= form_with(model: agent_schedule, local: true) do |form| %>
  <% if agent_schedule.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(agent_schedule.errors.count, "error") %> prohibited this agent_schedule from being saved:</h2>

      <ul>
      <% agent_schedule.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :schedule_id %>
    <%= collection_select(:agent_schedule, :schedule_id, Schedule.all, :id, :name, prompt: true) %>
  </div>

  <div class="field">
    <%= form.label :security_agent_id %>
    <%= collection_select(:agent_schedule, :security_agent_id, SecurityAgent.all, :id, :name_with_initial, prompt: true) %>
  </div>

  <div class="field">
    <%= form.label :contract_id %>
    <%= collection_select(:agent_schedule, :contract_id, Contract.all, :id, :title, prompt: true) %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
