<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @asset_stock_status.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @asset_stock_status.description %>
</p>

<%= link_to 'Edit', edit_asset_stock_status_path(@asset_stock_status) %> |
<%= link_to 'Back', asset_stock_statuses_path %>
