<p id="notice"><%= notice %></p>

<h1>Endowments</h1>

<table>
  <thead>
    <tr>
      <th>Stock name</th>
      <th>Date</th>
      <th>Accountable</th>
      <th>Endowment status</th>
      <th>Contract</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @endowments.each do |endowment| %>
      <tr>
        <td><%= endowment.stock_name %></td>
        <td><%= endowment.date %></td>
        <td><%= endowment.accountable %></td>
        <td><%= endowment.endowment_status_id %></td>
        <td><%= endowment.contract %></td>
        <td><%= link_to 'Show', endowment %></td>
        <td><%= link_to 'Edit', edit_endowment_path(endowment) %></td>
        <td><%= link_to 'Destroy', endowment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Endowment', new_endowment_path %>
