<%= form_with(model: security_agent_role, local: true) do |form| %>
  <% if security_agent_role.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(security_agent_role.errors.count, "error") %> prohibited this security_agent_role from being saved:</h2>

      <ul>
      <% security_agent_role.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
