<p id="notice"><%= notice %></p>

<h1>Security Agent Roles</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @security_agent_roles.each do |security_agent_role| %>
      <tr>
        <td><%= security_agent_role.name %></td>
        <td><%= security_agent_role.description %></td>
        <td><%= link_to 'Show', security_agent_role %></td>
        <td><%= link_to 'Edit', edit_security_agent_role_path(security_agent_role) %></td>
        <td><%= link_to 'Destroy', security_agent_role, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Security Agent Role', new_security_agent_role_path %>
