<%= form_with(model: event, local: true) do |form| %>
  <% if event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :notes %>
    <%= form.text_field :notes %>
  </div>

  <div class="field">
    <%= form.label :date %>
    <%= form.date_select :date %>
  </div>

  <div class="field">
    <%= form.label :hour %>
    <%= form.time_select :hour %>
  </div>

  <div class="field">
    <%= form.label :reported_by %>
    <%= form.text_field :reported_by %>
  </div>

  <div class="field">
    <%= form.label :site %>
    <%= form.text_field :site %>
  </div>

  <div class="field">
    <%= form.label :facts %>
    <%= form.text_field :facts %>
  </div>

  <div class="field">
    <%= form.label :event_status_id %>
    <%= collection_select(:event, :event_status_id, EventStatus.all, :id, :name, prompt: true) %>
  </div>

  <div class="field">
    <%= form.label :location %>
    <%= form.text_field :location %>
  </div>

  <div class="field">
    <%= form.label :end_date %>
    <%= form.date_select :end_date %>
  </div>

  <div class="field">
    <%= form.label :end_hour %>
    <%= form.time_select :end_hour %>
  </div>

  <div class="field">
    <%= form.label :contact_name %>
    <%= form.text_field :contact_name %>
  </div>

  <div class="field">
    <%= form.label :contact_phone %>
    <%= form.text_field :contact_phone %>
  </div>

  <div class="field">
    <%= form.label :community_id %>
    <%= collection_select(:event, :community_id, Community.all, :id, :name, prompt: true) %>
  </div>

  <div class="field">
    <%= form.label :event_type_id %>
    <%= collection_select(:event, :event_type_id, EventType.all, :id, :name, prompt: true) %>
  </div>

  <div class="field">
    <%= form.label :security_agent_id %>
    <%= collection_select(:event, :security_agent_id, SecurityAgent.all, :id, :name_with_initial, prompt: true) %>
  </div>

  <div class="field">
    <%= form.label :image %>
    <%= form.file_field :image %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
