<%= form_with(model: member_type_member, local: true) do |form| %>
  <% if member_type_member.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(member_type_member.errors.count, "error") %> prohibited this member_type_member from being saved:</h2>

      <ul>
      <% member_type_member.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :member_id %>
    <%= form.text_field :member_id %>
  </div>

  <div class="field">
    <%= form.label :member_type_id %>
    <%= form.text_field :member_type_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
