<%= form_with(model: check_vehicle, local: true) do |form| %>
  <% if check_vehicle.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(check_vehicle.errors.count, "error") %> prohibited this check_vehicle from being saved:</h2>

      <ul>
      <% check_vehicle.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :entry_date %>
    <%= form.text_field :entry_date %>
  </div>

  <div class="field">
    <%= form.label :notes %>
    <%= form.text_field :notes %>
  </div>

  <div class="field">
    <%= form.label :exit_date %>
    <%= form.date_select :exit_date %>
  </div>

  <div class="field">
    <%= form.label :cost %>
    <%= form.text_field :cost %>
  </div>

  <div class="field">
    <%= form.label :check_vehicle_status_id %>
    <%= form.text_field :check_vehicle_status_id %>
  </div>

  <div class="field">
    <%= form.label :station %>
    <%= form.text_field :station %>
  </div>

  <div class="field">
    <%= form.label :community_id %>
    <%= form.text_field :community_id %>
  </div>

  <div class="field">
    <%= form.label :vehicle_id %>
    <%= form.text_field :vehicle_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
