<%= form_with(model: alert_community, local: true) do |form| %>
  <% if alert_community.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(alert_community.errors.count, "error") %> prohibited this alert_community from being saved:</h2>

      <ul>
      <% alert_community.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :community_id %>
    <%= collection_select(:alert_community, :community_id, Community.all, :id, :name, prompt: true) %>
  </div>

  <div class="field">
    <%= form.label :alert_id %>
    <%= collection_select(:alert_community, :alert_id, Alert.all, :id, :title, prompt: true) %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
