<p id="notice"><%= notice %></p>

<h1>Alert Communities</h1>

<table>
  <thead>
    <tr>
      <th>Alert community</th>
      <th>Community</th>
      <th>Alert</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @alert_communities.each do |alert_community| %>
      <tr>
        <td><%= alert_community.alert_community %></td>
        <td><%= alert_community.community %></td>
        <td><%= alert_community.alert %></td>
        <td><%= link_to 'Show', alert_community %></td>
        <td><%= link_to 'Edit', edit_alert_community_path(alert_community) %></td>
        <td><%= link_to 'Destroy', alert_community, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Alert Community', new_alert_community_path %>
