<p id="notice"><%= notice %></p>

<p>
  <strong>Community:</strong>
  <%= @alert_community.community.name %>
</p>

<p>
  <strong>Alert:</strong>
  <%= @alert_community.alert.title %>
</p>

<%= link_to 'Edit', edit_alert_community_path(@alert_community) %> |
<%= link_to 'Back', alert_communities_path %>
