<%= form_with(model: weapon, local: true) do |form| %>
  <% if weapon.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(weapon.errors.count, "error") %> prohibited this weapon from being saved:</h2>

      <ul>
      <% weapon.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :weapon_status_id %>
    <%= collection_select(:weapon, :weapon_status_id, WeaponStatus.all, :id, :name, prompt: true) %>
  </div>

  <div class="field">
    <%= form.label :notes %>
    <%= form.text_field :notes %>
  </div>

  <div class="field">
    <%= form.label :weapon_type_id %>
    <%= collection_select(:weapon, :weapon_type_id, WeaponType.all, :id, :name, prompt: true) %>
  </div>

  <div class="field">
    <%= form.label :weapon_location_id %>
    <%= collection_select(:weapon, :weapon_location_id, WeaponLocation.all, :id, :name, prompt: true) %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
