<p id="notice"><%= notice %></p>

<h1>Alerts</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th>Creation date</th>
      <th>Alert status</th>
      <th>Coordinates</th>
      <th>Evidence</th>
      <th>Community</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @alerts.each do |alert| %>
      <tr>
        <td><%= alert.title %></td>
        <td><%= alert.content %></td>
        <td><%= alert.creation_date %></td>
        <td><%= alert.alert_status %></td>
        <td><%= alert.coordinates %></td>
        <td><%= alert.evidence %></td>
        <td><%= alert.community %></td>
        <td><%= alert.user %></td>
        <td><%= link_to 'Show', alert %></td>
        <td><%= link_to 'Edit', edit_alert_path(alert) %></td>
        <td><%= link_to 'Destroy', alert, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Alert', new_alert_path %>
