<%= form_with(model: weapon_location, local: true) do |form| %>
  <% if weapon_location.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(weapon_location.errors.count, "error") %> prohibited this weapon_location from being saved:</h2>

      <ul>
      <% weapon_location.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :phone %>
    <%= form.text_field :phone %>
  </div>

  <div class="field">
    <%= form.label :contact %>
    <%= form.text_field :contact %>
  </div>

  <div class="field">
    <%= form.label :notes %>
    <%= form.text_field :notes %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
