<%= form_with(model: item, local: true) do |form| %>
  <% if item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :item_status_id %>
    <%= collection_select(:item, :item_status_id, ItemStatus.all, :id, :name, prompt: true) %>
  </div>

  <div class="field">
    <%= form.label :amount %>
    <%= form.number_field :amount %>
  </div>

  <div class="field">
    <%= form.label :characteristics %>
    <%= form.text_field :characteristics %>
  </div>

  <div class="field">
    <%= form.label :accountable %>
    <%= form.text_field :accountable %>
  </div>

  <div class="field">
    <%= form.label :endowment_id %>
    <%= collection_select(:item, :endowment_id, Endowment.all, :id, :name, prompt: true) %>
  </div>

  <div class="field">
    <%= form.label :item_type_id %>
    <%= collection_select(:item, :item_type_id, ItemType.all, :id, :name, prompt: true) %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
