<p id="notice"><%= notice %></p>

<h1>Items</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Item status</th>
      <th>Amount</th>
      <th>Characteristics</th>
      <th>Accountable</th>
      <th>Endowment</th>
      <th>Item type</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= item.name %></td>
        <td><%= item.item_status %></td>
        <td><%= item.amount %></td>
        <td><%= item.characteristics %></td>
        <td><%= item.accountable %></td>
        <td><%= item.endowment %></td>
        <td><%= item.item_type %></td>
        <td><%= link_to 'Show', item %></td>
        <td><%= link_to 'Edit', edit_item_path(item) %></td>
        <td><%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Item', new_item_path %>
