<%= form_with(model: endowment_status, local: true) do |form| %>
  <% if endowment_status.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(endowment_status.errors.count, "error") %> prohibited this endowment_status from being saved:</h2>

      <ul>
      <% endowment_status.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
