<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @member_type.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @member_type.description %>
</p>

<%= link_to 'Edit', edit_member_type_path(@member_type) %> |
<%= link_to 'Back', member_types_path %>
