<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @event_status.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event_status.description %>
</p>

<%= link_to 'Edit', edit_event_status_path(@event_status) %> |
<%= link_to 'Back', event_statuses_path %>
