<%= form_with(model: layout, local: true) do |form| %>
  <% if layout.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(layout.errors.count, "error") %> prohibited this layout from being saved:</h2>

      <ul>
      <% layout.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_field :address %>
  </div>

  <div class="field">
    <%= form.label :phone %>
    <%= form.text_field :phone %>
  </div>

  <div class="field">
    <%= form.label :attendant %>
    <%= form.text_field :attendant %>
  </div>

  <div class="field">
    <%= form.label :community_id %>
    <%= collection_select(:layout, :community_id, Community.all, :id, :name, prompt: true) %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
